<div class="container-todo">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <div class="form-group p-5">
                <input type="text" class="form-control" [(ngModel)]="userSearch" placeholder="Filter">
            </div>
        </div>
        <!-- btn manual de uso -->
        <div class="btn-manual">
            <a href="assets/pdf/MANUAL DE USO.pdf" target="_blank">
                <button class="btn btn-success btn-sm">manual de uso</button>
            </a>
        </div>
        <div class="col-12">
            <h1 class="text-center p-2 p-lg-5">Lista de Contactos</h1>
            <!-- Button agregar contacto -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Agregar Contacto
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4 scroll">
            <!-- tabla contactos -->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Direcciòn</th>
                        <th>Correo Electrònico</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let user of users | filtro: userSearch">
                        <td>{{ user.id }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.telefono }}</td>
                        <td>{{ user.fecha_nacimiento }}</td>
                        <td>{{ user.direccion }}</td>
                        <td>{{ user.correo }}</td>

                        <td>
                            <button type="button" class="btn btn-info btn-sm mr-2" data-toggle="modal"
                                (click)="showEditUserForm(user)" data-target="#exampleModal2">Editar</button>

                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal3">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- MODALES -->
    <!-- Modal agregar contacto -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Contacto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #userForm="ngForm">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control"
                                [(ngModel)]="newUser.nombre" required />

                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono</label>
                            <input type="number" name="telefono" id="telefono" class="form-control"
                                [(ngModel)]="newUser.telefono" required />
                        </div>
                        <div class="form-group">
                            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control"
                                [(ngModel)]="newUser.fecha_nacimiento" required />
                        </div>
                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="text" name="direccion" id="direccion" class="form-control"
                                [(ngModel)]="newUser.direccion" required />
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo Electrónico</label>
                            <input type="email" name="correo" id="correo" class="form-control"
                                [(ngModel)]="newUser.correo" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                        (click)="saveUser()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal editar contacto -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Contacto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #updateForm="ngForm" *ngIf="editUserForm">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control"
                                [(ngModel)]="editedUser.nombre" required />
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="number" id="telefono" name="telefono" class="form-control"
                                [(ngModel)]="editedUser.telefono" required />
                        </div>
                        <div class="form-group">
                            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control"
                                [(ngModel)]="editedUser.fecha_nacimiento" required />
                        </div>
                        <div class="form-group">
                            <label for="direccion">Direcciòn</label>
                            <input type="text" id="direccion" name="direccion" class="form-control"
                                [(ngModel)]="editedUser.direccion" required />
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" id="correo" name="correo" class="form-control"
                                [(ngModel)]="editedUser.correo" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info" (click)="updateUser()"
                        data-dismiss="modal">Editar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal eliminar contacto -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Contacto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Esta Seguro que desea eliminar el contacto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal3"
                        (click)="removeUser(user)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>